body {
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  background-color: #cbf1f5;
  margin: 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  text-align: center;
}

div {
  background-color: #e3fdfd;
  width: 500px;
  height: 250px;
  margin: 200px auto;
  border-radius: 15%;
}

p {
  line-height: 2;
  font-size: 1.5rem;
  width: 350px;
  margin: 50px auto;
  background-image: url("cake.png" alt="cake-pic");
  text-align: left;
}

img {
  float: left;
  width: 20%;
  margin-top: 75px
}
